	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
</div>

<div align="center" style="background-color: #d5ecdd">
	<!-- IF U_ACP --><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span><br /><br /><!-- ENDIF -->
	<span class="copyright">Powered by <a href="http://www.phpbb.com/">phpBB</a>&reg; Forum Software &copy; phpBB Group
	<br>Forum design by ScummVM team, icons by raina, adopted for ResidualVM
	<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
	<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span>
</div>


				</td>
			</tr>
		</table>
	</td>
</tr>

                    
<tr>
	<td colspan="4">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<td><img src="styles/RVMDesign/imageset/curve_bl.gif" width="20" height="20" alt="curved edge"></td>
				<td width="100%" bgcolor="#d5ecdd">&nbsp;</td>
				<td align="right" valign="bottom"><img src="styles/RVMDesign/imageset/curve_br.gif" width="20" height="20" alt="curved edge"></td>
			</tr>
		</table>
	</td>
</tr>

</table>
</body>
</html>